<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{{ title || site.title }}</title>
  <meta name="description" content="{{ snippet || site.description }}">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/assets/css/screen.css">
  {% if syntax %}<link rel="stylesheet" href="/assets/css/syntax.css">{% endif %}

  <link rel="canonical" href="{{ site.url + path }}" />
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ title || site.title }}" />
  <meta property="og:description" content="{{ snippet || site.description }}" />
  <meta property="og:url" content="{{ site.url + path }}" />
  {% if image %}<meta property="og:image" content="{{ site.url + image }}" />{% endif %}
  {% if date %}<meta property="article:published_time" content="{{ date.toISOString() }}" />{% endif %}
  {% if image %}
  <meta name="twitter:card" content="summary_large_image" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta name="twitter:title" content="{{ title || site.title }}" />
  <meta name="twitter:description" content="{{ snippet || site.description }}" />
  <meta name="twitter:url" content="{{ site.url + path }}" />
  <meta name="twitter:label1" content="Written by" />
  <meta name="twitter:data1" content="Don McCurdy" />
  <meta name="twitter:site" content="@donrmccurdy" />
  <meta name="twitter:creator" content="@donrmccurdy" />
  {% if image %}<meta name="twitter:image" content="{{ site.url + image }}">{% endif %}
  {% if imageAbs %}<meta name="twitter:image" content="{{ imageAbs }}">{% endif %}
  {% if imageAlt %}<meta name="twitter:image:alt" content="{{ imageAlt }}">{% endif %}
</head>
<body>

  <header id="site-head">

    <h1 class="blog-title"><a href="/">{{ site.title }}</a></h1>
    <div class="header-col">

      {% if isIndex %}
      <p class="blog-description">{{ site.description }}</p>
      {% endif %}

      <nav class="menu">
        <ul>
          <li {% if isIndex %}class="active"{% endif %}>
            <a href="/">Blog</a>
          </li>
          <li {% if isProjects %}class="active"{% endif %}>
            <a href="/projects/">Projects</a>
          </li>
          <li {% if isPhotos %}class="active"{% endif %}>
            <a href="/photos/">Photos</a>
          </li>
          <li><a href="https://twitter.com/donrmccurdy" target="_blank" rel="noreferrer">Twitter</a></li>
          <li><a href="https://github.com/donmccurdy" target="_blank" rel="noreferrer">GitHub</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main class="content">
    <article class="post">
      {% block body %}{% endblock %}
    </article>
  </main>

  <footer>
    <a href="https://donmccurdy.com/rss.xml" target="_blank">RSS</a>
    {% if isPhotos %}
    / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    {% else %}
    / <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain</a>
    {% endif %}
    / {{ site.year }}
  </footer>

  <script src="https://analytics.donmccurdy.com/client.js"></script>
</body>
</html>
