<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{{ title || site.title }}</title>
  <meta name="description" content="{{ snippet || site.description }}">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="/assets/css/screen.css">

  <link rel="canonical" href="{{ site.url + path }}" />
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ title || site.title }}" />
  <meta property="og:description" content="{{ snippet || site.description }}" />
  <meta property="og:url" content="{{ site.url + path }}" />
  {% if date %}<meta property="article:published_time" content="{{ date.toISOString() }}" />{% endif %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ title || site.title }}" />
  <meta name="twitter:description" content="{{ snippet || site.description }}" />
  <meta name="twitter:url" content="{{ site.url + path }}" />
  <meta name="twitter:label1" content="Written by" />
  <meta name="twitter:data1" content="Don McCurdy" />
  <meta name="twitter:site" content="@donrmccurdy" />
  <meta name="twitter:creator" content="@donrmccurdy" />
</head>
<body>

  <header id="site-head">

    <h1 class="blog-title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <div class="header-col">

      {% if isIndex %}
      <p class="blog-description">{{ site.description }}</p>
      {% endif %}

      <nav class="menu" role="nav">
        <ul>
          <li {% if isIndex %}class="active"{% endif %}>
            <a href="/">Blog</a>
          </li>
          <li {% if isProjects %}class="active"{% endif %}>
            <a href="/projects/">Projects</a>
          </li>
          <li><a href="https://twitter.com/donrmccurdy" target="_blank">Twitter</a></li>
          <li><a href="https://mastodon.social/@donmccurdy" target="_blank">Mastodon</a></li>
          <li><a href="https://www.instagram.com/donmccurdy/" target="_blank">Instagram</a></li>
          <li><a href="https://github.com/donmccurdy" target="_blank">GitHub</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main class="content">
    <article class="post">
      {% block body %}{% endblock %}
    </article>
  </main>

  <footer>
    <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a>, {{ site.year }}
  </footer>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5a7d22486eb5fb2220000222');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
